<div class="toppad content">
<ul class="list-inline actions roboto-c center">
  <li><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span><%= link_to 'Back', @plant %></li>
  <li><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'Home', plants_path %></li>
</ul>
<h1 class="center">Editing Plant Entry</h1>

<%= render 'form', plant: @plant %>

</div>
