

$yellow: #FFE310;
$darkyellow: #F9AD32;
$darkgrey: #333333;
$lightgrey:    #777777;
$lightestgrey: #999999;


// Custom bootstrap variables must be set or imported before bootstrap itself.
@import "bootstrap-sprockets";
@import "bootstrap";


// CUSTOM CSS


h1 {font-size: 4em; font-family: 'Roboto Condensed', sans-serif;}
h2 {font-size: 3em;}
h3 {font-size: 2em;}
h4 {font-size: 1.6em;}
h5 {font-size: 1.5em;}
h6 {font-size: 1.2em;}
p {font-size: 1.2em; font-family: 'Bree Serif', serif}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.roboto-c {
    font-family: 'Roboto Condensed', sans-serif;
}

.bree {
    font-family: 'Bree Serif', serif;
}

.yellow{color:$yellow;}
.darkyellow{color:$darkyellow;}
.darkgrey{color:$darkgrey;}
.lightgrey{color:$lightgrey;}
.lightestgrey{color: $lightestgrey;}
.white{color: white;}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.underline {
  border-bottom: 3px solid $yellow;
  padding-bottom: 2px;
}

.uppercase {
  text-transform: uppercase;
}

.widthpad{
  margin:0 15px ;
}

.thumbpad {
  padding: 10px;
}

.thumbmargin {
  margin: 10px;
}

.brightness {
    background-color: white;
    display: inline-block;
    z-index: 99;
}
.brightness img:hover {
    opacity: .5;
}

.locationcontent {
  margin: 30px;

  h1 {
    padding-bottom: 30px
  }
  p {
    padding: 10px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

.col {
  flex: 1;
  overflow: hidden;
}



  .one {
    background-color: #E6E6E6;
  }

  .one img  {
    width: 100%;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

}

.content {
  padding: 0 15px;
  max-width: 80%;
  margin: 0 auto 30px auto;

  .formtext {
    color: $darkgrey;
    font-size: 1.2em;
    padding: 5px;
    height: auto;
  }

  h4 {
    padding-top: 30px;
  }

  p {
    color: $lightestgrey;
    line-height: 1.6;
    margin-top: 5px;
    padding-left: 10px;
    border-left: 3px solid $yellow;
  }

  a {
  color: $lightestgrey;
  }

  a:hover {
  color: $yellow;
  text-decoration: none;
  // background-color: $darkgrey;
  // padding: 0 5px;
    }
}



.fullwidth {
  width: 100%;
  height: 100vh;
  padding:0;
  margin: 0;
  background-color: #E6E6E6;
  img{
    width: 100%;
  }
}

.highlight {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $lightestgrey;
  font-size: 1em;
  padding-top: 20px;
}

.bggrey {
  background-color: #E6E6E6;
  height: 100vh;
}

#header {
    text-align: center;
    // margin: 20px 0px;
}
#header h1 {
  margin: 50px 0px;
}

#header a {
  margin-top: 30px;
}

.bgshape {
  // background-color: $yellow;
  // padding: 10px 40px;
  margin: 0 auto;
  border-top: 70px solid $yellow;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 40%;
}

.topbar {
    background-color: $yellow;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	height: 40px;
}

.user {
  flex: 1;

  p  {
    display: inline;
    font-size: 1.2em;
  }

  p a {
    text-transform: uppercase;
    color: $lightgrey;
    border-right: 1px solid $lightestgrey;
    padding: 0 10px;
    font-size: 0.9em;
    letter-spacing: 2px;
  }

  a:hover {
    text-decoration: none;
  	color: $lightestgrey;
    text-decoration: underline;
  }

  .greeting {
    padding: 0 10px;
  }
}

.home {
  a {
  flex: 1;
  color: $darkgrey;
  }

  a:hover {
    color: white;
  }
}

.flash-message {
  margin-left: 10px;
  display: inline;
  color: $lightestgrey;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  color: black;
}

.new-plant {
  flex: 1;

  span{
    margin-right: 5px;
    font-size: 1.2em;
  }
  a {
    text-transform: uppercase;
    font-size: 1em;
    float: right;
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: $darkgrey;
  }

  a:hover {
    color: $lightgrey;
    text-decoration: underline;
  }
}

#menu a {
  color: black;
  padding: 0 3px 3px 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#menu a:hover {
  border-bottom: 5px solid $yellow;
  color: $darkgrey;
}

.searchform {
  margin: 0 50px 50px auto;

  .searchfield {
    text-align: center;
    border: none;
    border-bottom: 8px solid $yellow;
    padding: 5px;
    font-size: 2em;
    font-family: 'Bree Serif', serif;
    color: $lightestgrey;
    letter-spacing: 1.2px;
    width: 80%;
    text-transform: capitalize;
  }
}
.searchicon {
  color: $lightestgrey;
  margin: -50px;
  font-size: 2em;
}

.currentp {
  padding: 0 3px 3px 0;
  text-decoration: none;
  border-bottom: 5px solid $yellow;
}

.content .where {
  color: $yellow;
  border: none;
  padding-left: 0px;
  margin-left: -2px;
}

footer  {

  background: $darkgrey;
	padding: 20px;

  img {
    margin: 20px 0 8px 0;
    height: 3em;
  }

  p {
    color: $yellow;
    line-height: 1.8;
    padding-top: 30px;

  }

  .footerleft a {
    text-align: left;
    color: $lightestgrey;
    padding: 10px;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
  }

  .footerleft a:hover {
    color: $yellow;
    text-decoration: none;
  }

  .footercenter {
    text-align: center;
  }

  .footerright {
    text-align: right;
  }

  .footerright a{
    color: $lightestgrey;
  }


  .footerright a:hover, .footerright a h3:hover {
    color:$yellow;
    text-decoration: none;
  }

}

.toppad {
  padding-top: 30px;
}

.alignbottom {
  bottom: -85px;
  position: relative;
}

.form-group {
  max-width: 80%;
  margin: 0 auto;

  .field {
    padding: 10px 0;
  }

  .field span {
    margin-right: 10px;
  }
  .field .text-field {
    font-family: 'Bree Serif', serif;
    font-size: 1.5em;
  }
}

.actions {
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  color: $yellow;
  padding: 0 20px;
  a {
    color: $yellow;
  }
  a:hover, li:hover {
    color: $lightgrey;
  }
}

.submit input{
  background-color: $yellow;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-size: 1.8em;
  margin: 20px auto 50px auto;
  padding: 15px 30px;
}
.submit input:hover {
  background-color: #E6E6E6;
}

// MASONRY LAYOUT
.wrapper {
  -webkit-columns: 300px;
  -moz-columns: 300px;
  columns: 300px;
  -webkit-column-gap: 20px;
  -moz-column-gam: 20px;
  column-gap: 20px;

}

.thumbnail {
  width: 100%;
  margin-bottom: 10px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  padding:0;
}

.thumbnail .caption {
  padding: 0;
}

.showbtn {
  background-color: $yellow;
  margin-top: 20px;
  padding: 10px;
}

.showbtn a {
  color: $darkgrey;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.showbtn a:hover {
  text-decoration: none;
  color: $lightgrey;
}

.hidez {
  display: block;
}

.pagination {
  text-align: center;
  display: block;
  font-family: 'Bree Serif', serif;
  color: $lightgrey;
  font-size: 1.2em;

  .first, .prev, .page, .current, .next, .last {
    margin: 0 10px;
  }

  a {
    color: $lightgrey;
  }

  a:hover {
    text-decoration: none;
    color: $yellow;
  }

  span.page.current  {
    border-bottom: 2px solid $yellow;
    font-family: 'Bree Serif', serif;
  }

}




@media screen and (max-width: 1000px) {
  .hidez {
    display: none;
  }
}
