<footer class="norm">
  <!-- <div class="row"> -->

    <!-- <div class="col-sm-6 col-md-3"> -->
      <div class="footerleft">
        <ul class="list-unstyled bree">
          <a><li>About</li></a>
          <a><li>FAQ</li></a>
          <a><li>Contact</li></a>
          <a href="https://www.facebook.com/FoodscapeCollective/"><li>Facebook</li></a>
        </ul>
      </div>
    <!-- </div> -->

    <!-- <div class="col-sm-6 col-md-6"> -->
      <div class="footercenter">
        <a href="http://foodscapecollective.org/">
          <img src="<%= asset_path('foodscapelogo.svg')%>"/>
        </a>
        <p class="yellow">Foodscape Collective is a community of food growers in Singapore who come together to make Singapore our edible garden.</p>
      </div>
    <!-- </div> -->

    <!-- <div class="col-sm-6 col-md-3"> -->
      <div class="footerright bree">
        <a href="#"><h3><span class="glyphicon glyphicon-chevron-up yellow" aria-hidden="true"></h3></a>
        <a class="alignbottom yellow" href="https://github.com/evontay/plants-wiki">Built on RoR by<br>Evon Tay</a>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</footer>

<footer class="mfooter">
  <ul class="bree">
    <a><li>About</li></a>
    <a><li>FAQ</li></a>
    <a><li>Contact</li></a>
    <a href="https://www.facebook.com/FoodscapeCollective/"><li>Facebook</li></a>
  </ul>

  <div class="footercenter">
    <a href="http://foodscapecollective.org/">
      <img src="<%= asset_path('foodscapelogo.svg')%>"/>
    </a>
    <p class="yellow">Foodscape Collective is a community of food growers in Singapore who come together to make Singapore our edible garden.</p>
  </div>

</footer>
